name: Observador

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repositório
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.0'
          channel: stable

      - name: Limpar caches do Gradle e Flutter
        run: |
          flutter clean
          rm -rf ~/.gradle/caches
          rm -rf ~/.gradle/wrapper

      - name: Instalar dependências
        run: flutter pub get

      - name: Rodar testes
        run: flutter test || echo "Sem testes ou falha ignorada"

      - name: Build APK Release
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Observador-APK
          path: build/app/outputs/flutter-apk/app-release.apk
